<h1 align="center">About Me</h1>
<br />
<h3 align="left">
    My name is Abigail Gerson, the programmer of this website. I am about to be a 3rd year (Cohort 37) at 
    Neumont College of Computer Science where I am trying to earn my Bachelor's of Computer Science. I started 
    my programming journey about 7 years ago in my Freshman year of High School. There I spent about 
    4 years learning the building blocks of coding and how to think like a programmer. It wasn't until
    I arrived at Neumont that I started to actually learn more about programming and how to actually code.
</h3>

<br />
<br />
<br />

<h1 align="center">Why BeeWave?</h1>
<br />
<h3 align="left">
    The creation of BeeWave essentially one idea that snowballed into a bunch of ideas that turned into
    a theme. I first started with trying to make a name for my social media site and looked up a bunch
    of words that are used a lot on social media and when talking about social media. One of the words I 
    came up with was "Buzz" as in someone saying "What's all the buzz about". I've always been a sucker
    for dad jokes and framing the site as play on words with the word "Buzz" too tempting to not pursue.
    So I started building out the idea for the site based around bees. With that I went to work with the
    scheme for the layouts and the logo for the website so it ensured that the user new that the site
    was inspired by bees.
</h3>
