<div class="text-center">
    <h1 class="display-4">
        <img src="./images/BeeWaveLogo2.png" width="200" height="150" />
        Welcome To
        BeeWave
    </h1>
    <br />
    <br />
    <h3 align="left">
        BuzzWave is a social media platform designed to capture and amplify the latest trends, news, and viral content from around the world.
        It's a hub where users can discover, share, and engage with the most exciting and talked-about
        topics.
    </h3>
    <br/>
    <h3 align="left">
        In a world where trends shape our narratives, BuzzWave is the platform that empowers 
        users to not only follow but also contribute to these narratives. With its user-centric 
        design, innovative features, and real-time engagement opportunities, BuzzWave propels 
        social media into an exciting new era of connection and conversation.
    </h3>

</div>
